
############################################################
{{ flag1 }}
############################################################
# Airlines    Flight No.  Destination STD     ETD     Gate #  
#----------------------------------------------------------#
# NASA        902 10130   Linux       9:10    12:10   204  #       
# NASA        902 21620   Linux       9:10    12:10   204  #
############################################################


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Note:
 * This service is provided without warranty of any kind.
 * This server should only be used to complete hw0.
 * We will not take any responsibility about your losses
   resulted from this service.
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


Type start_from_scratch to start!

